html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #10a5d3; }

@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.form-authentication {
  width: 370px;
  height: 250px;
  border-radius: 9px;
  margin: 150px auto 0;
  padding: 10px 0 0 10px;
  background: url("/img/form-bg-surround.png"); }

.form-authentication__container {
  width: 360px;
  height: 240px;
  background: #ffffff url("/img/form-bg-base.png") repeat-x top left;
  border-radius: 4px; }

.form-authentication__heading {
  background: url("/img/heading bg.png");
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #555555;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px grey solid;
  margin-bottom: 25px;
  text-shadow: 0 1px 0 #fff; }

.form-authentication__fields input {
  -webkit-box-shadow: 0 0 0 4px #f2f5f7;
  box-shadow: 0 0 0 4px #f2f5f7;
  width: 290px;
  height: 33px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
  color: #aeaeae;
  border: 1px solid #c1c5c8;
  display: block;
  margin-bottom: 20px; }

.form-authentication__fields input:focus {
  border: 1px solid #7dc6dd;
  -webkit-box-shadow: 0 0 0 4px #e0f1fc;
  box-shadow: 0 0 0 4px #e0f1fc; }

.form-authentication__remember input[type="checkbox"] {
  vertical-align: middle; }

.form-authentication__remember {
  display: inline;
  margin-left: 24px;
  vertical-align: middle; }

.form-authentication__remember-text {
  color: #555555;
  font-size: 12px;
  /*Тут я прям крикнул=))) файл readme=)) где было написано про градиент=)*/ }

.form-authentication__button {
  float: right;
  border-radius: 15px;
  font-weight: bold;
  font-size: 12px;
  height: 32px;
  width: 72px;
  margin-right: 25px;
  -webkit-box-shadow: 0 0 0 4px #f2f5f7;
  box-shadow: 0 0 0 4px #f2f5f7;
  text-decoration: none;
  color: #527988;
  border: none;
  background: #d3e8f0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#edf6f9), to(#cde5ee));
  background-image: linear-gradient(top, #edf6f9, #cde5ee);
  /* background-image: url("/img/btn.png") */ }

.form-authentication__button:active, :hover, :focus {
  outline: 0;
  outline-offset: 0; }

.form-authentication__button:hover {
  color: #527988;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0e6ef), to(#e5f1f6));
  background-image: linear-gradient(top, #d0e6ef, #e5f1f6); }

.form-authentication__button:active {
  border-top: 2px #91b0bd solid;
  border-left: 2px #91b0bd solid;
  color: #527988;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0e6ef), to(#e5f1f6));
  background-image: linear-gradient(top, #d0e6ef, #e5f1f6); }

.form-authentication__forgotten {
  text-align: center;
  margin-top: 30px;
  color: #fff;
  font-size: 12px;
  text-shadow: 0 1px 0 #000; }

.form-authentication__forgotten a {
  color: #cbebf6;
  text-decoration: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.notice {
  height: 45px;
  width: 100%;
  background-color: #fff;
  border-bottom: 4px solid #eaeff3;
  position: fixed;
  top: 0;
  font-size: 14px;
  font-weight: bold;
  -webkit-box-shadow: 0 0 3px 1px #000;
  box-shadow: 0 0 3px 1px #000; }

.notice__text {
  text-align: center;
  color: red;
  line-height: 45px; }

.notice__button {
  width: 9px;
  height: 9px;
  float: right;
  margin-right: 10px;
  margin-top: 20px;
  cursor: pointer; }

.notice__close {
  background: url("/img/close.svg");
  height: inherit; }

.notice__close:hover {
  background: url("/img/close hover.svg");
  height: inherit; }

@media (max-width: 480px) {
  .notice__text {
    line-height: 20px; } }
