
@import "reset"



$main-background-color :  #10a5d3
$notice-color : #fff
$notice-height : 45px  //Идет в в высоту и в line-height

$small: 320px
$middle: 480px
$large: 1020px




=bsh($top, $left, $blur, $size, $color, $inset: false)
  @if $inset
    -webkit-box-shadow: inset $top $left $blur $size $color
    -moz-box-shadow: inset $top $left $blur $size $color
    box-shadow: inset $top $left $blur $size $color
  @else
    -webkit-box-shadow: $top $left $blur $size $color
    -moz-box-shadow: $top $left $blur $size $color
    box-shadow: $top $left $blur $size $color


=br($rad)
  -webkit-border-radius: $rad
  -moz-border-radius: $rad
  -ms-border-radius: $rad
  border-radius: $rad