@import "config"

.form-authentication
    width: 370px
    height: 250px
    border-radius: 9px
    margin: 150px auto 0
    padding: 10px 0 0 10px
    background: url("/img/form-bg-surround.png")


.form-authentication__container
  width: 360px
  height: 240px
  background: #ffffff url("/img/form-bg-base.png") repeat-x top left
  +br(4px)


.form-authentication__heading
  background: url("/img/heading bg.png")
  font-size: 14px
  font-weight: bold
  text-align: center
  color: #555555
  height: 45px
  line-height: 45px
  border-bottom: 1px grey solid
  margin-bottom: 25px
  text-shadow: 0 1px 0 #fff

.form-authentication__fields input
  +bsh(0,0,0,4px,#f2f5f7)
  width: 290px
  height: 33px
  padding: 0 10px 0 10px
  margin: 0 auto
  color: #aeaeae
  border: 1px solid #c1c5c8
  display: block
  margin-bottom: 20px

.form-authentication__fields input:focus
  border: 1px solid #7dc6dd
  +bsh(0,0,0,4px,#e0f1fc)



.form-authentication__remember input[type="checkbox"]
  vertical-align: middle

.form-authentication__remember
   display: inline
   margin-left: 24px
   vertical-align: middle

.form-authentication__remember-text
  color: #555555
  font-size: 12px

  /*Тут я прям крикнул=))) файл readme=)) где было написано про градиент=)*/
.form-authentication__button
  float: right
  +br(15px)
  font-weight: bold
  font-size: 12px
  height: 32px
  width: 72px
  margin-right: 25px
  +bsh(0,0,0,4px,#f2f5f7)
  text-decoration: none
  color: #527988
  border: none
  background: #d3e8f0
  background-image: -moz-linear-gradient(top, #edf6f9, #cde5ee)
  background-image: -o-linear-gradient(top, #edf6f9, #cde5ee)
  background-image: linear-gradient(top, #edf6f9, #cde5ee)
  /* background-image: url("/img/btn.png") */


.form-authentication__button:active,:hover,:focus
  outline: 0
  outline-offset: 0


.form-authentication__button:hover
  color: #527988
  background-image: -moz-linear-gradient(top, #d0e6ef, #e5f1f6)
  background-image: -o-linear-gradient(top, #d0e6ef, #e5f1f6)
  background-image: linear-gradient(top, #d0e6ef, #e5f1f6)

.form-authentication__button:active
  border-top: 2px #91b0bd solid
  border-left: 2px #91b0bd solid
  color: #527988
  background-image: -moz-linear-gradient(top, #d0e6ef, #e5f1f6)
  background-image: -o-linear-gradient(top, #d0e6ef, #e5f1f6)
  background-image: linear-gradient(top, #d0e6ef, #e5f1f6)

.form-authentication__forgotten
  text-align: center
  margin-top: 30px
  color: #fff
  font-size: 12px
  text-shadow: 0 1px 0 #000

.form-authentication__forgotten a
  color: #cbebf6
  text-decoration: none