
@import "config"




.notice
  height: $notice-height
  width: 100%
  background-color: $notice-color
  border-bottom: 4px solid #eaeff3
  position: fixed
  top: 0
  font-size: 14px
  font-weight: bold
  +bsh(0,0,3px,1px,#000)


.notice__text
  text-align: center
  color: red
  line-height: $notice-height

.notice__button
  width: 9px
  height: 9px
  float: right
  margin-right: 10px
  margin-top: 20px
  cursor: pointer

.notice__close
  background: url('/img/close.svg')
  height: inherit

.notice__close:hover
  background: url('/img/close hover.svg')
  height: inherit



@import "notice_response.scss"